# Top-level dependencies for Pipulate
# This file is used by pip-compile to generate requirements.txt

# The pinned problems
piper-tts==1.3.0
onnxruntime==1.22.1
blinker==1.6.2

# Core AI and LangChain
google-generativeai
langchain
langchain-openai
langchain-google-genai
langchain-community

# Jupyter Environment
jupyterlab
jupyter-ai[all]
ipywidgets
itables
jupytext
nbstripout

# Web Scraping and Data Processing
requests
beautifulsoup4
pandas
openpyxl
lxml

# Web Server
python-fasthtml
uvicorn

# Automation
selenium
selenium-wire
selenium-stealth
undetected-chromedriver
webdriver-manager

# Data Science and Plotting
matplotlib
scikit-learn
numpy

# Code Quality
pylint
vulture
yapf
isort

# Other utilities
python-dotenv
loguru
rich
watchdog
pyfiglet

