autopep8
isort
pylint
python-minimizer
strip-docs
tiktoken
vulture

aiohttp
beautifulsoup4
blinker==1.7.0
dominate
extruct
httpx
ipynbname
itables
jupyter-ai[all]
jupyterlab
jupyterlab-spellchecker
jupytext
loguru
matplotlib
nbstripout
pandas
pyfiglet
python_fasthtml
requests
rich
selenium
webdriver-manager
selenium-wire
watchdog

google-api-python-client
google-auth
scikit-learn
