# Top-level dependencies for Pipulate
# This file is used by pip-compile to generate requirements.txt
# pip-compile requirements.in -o requirements.txt --upgrade
# NOTE: TO AVOID THE ERROR: AttributeError: 'InstallRequirement' object has no attribute 'use_pep517'
# pip-compiling right now requires downgrading:
# RUN THIS: pip install --upgrade pip==25.2
# then re-install pip-tools then do the compile command.

# NEW stuff
moviepy
requests-toolbelt
markdownify
pip-tools
python-frontmatter

# GAPalyzer
nltk
tldextract
wordninja
xlsxwriter

# The pinned problems
blinker==1.6.2
apsw==3.50.3.0
grpcio==1.60.1
pydantic>=2.12.2

astunparse

# Off the hook
piper-tts
onnxruntime

# Core AI and LangChain
google-generativeai
langchain
langchain-openai
langchain-google-genai
langchain-community

# Jupyter Environment
jupyterlab
jupyter-ai[all]
ipywidgets
itables
jupytext
nbstripout

# Web Scraping and Data Processing
requests
beautifulsoup4
pandas
openpyxl
lxml

# Web Server
python-fasthtml
uvicorn

# Automation
selenium
selenium-wire
selenium-stealth
webdriver-manager
undetected-chromedriver

# Data Science and Plotting
matplotlib
scikit-learn
numpy

# Code Quality
pylint
vulture
yapf
isort

# Other utilities
python-dotenv
loguru
rich
watchdog
pyfiglet
pydot
sqlitedict
