autopep8
isort
pylint
python-minimizer
strip-docs
tiktoken
vulture
yapf

aiohttp
beautifulsoup4
blinker==1.7.0
build
extruct
httpx
ipynbname
itables
jupyter-ai[all]
jupyterlab
jupyterlab-spellchecker
jupytext
loguru
matplotlib
markdown-it-py
nbstripout
pandas
pyfiglet
python_fasthtml
requests
rich
selenium
termcolor
twine
webdriver-manager
selenium-wire
undetected-chromedriver
selenium-stealth
watchdog

google-api-python-client
google-auth
scikit-learn
