{"swagger":"2.0","info":{"version":"1.0.0","description":"Botify Saas API","title":"Botify API"},"basePath":"/v1","host":"api.botify.com","schemes":["https"],"paths":{"/analyses/{username}/{project_slug}":{"get":{"description":"List all analyses for a project","summary":"","operationId":"getProjectAnalyses","produces":["application/json"],"tags":["Project"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","required":false,"description":"Page Size","type":"integer","format":"int32"},{"in":"query","name":"only_success","required":false,"description":"Return only successfully finished analyses","type":"boolean","default":true},{"in":"query","name":"fields","required":false,"description":"Which fields to return (comma-separated)","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/Analysis"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/analyses/{username}/{project_slug}/create/launch":{"post":{"description":"Create and launch an analysis for a project","summary":"","operationId":"launchAnalysisCreate","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/AnalysisCreateAndLaunch"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/analyses/{username}/{project_slug}/light":{"get":{"description":"List all analyses for a project (light)","summary":"","operationId":"getProjectAnalysesLight","produces":["application/json"],"tags":["Project"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","required":false,"description":"Page Size","type":"integer","format":"int32"},{"in":"query","name":"only_success","required":false,"description":"Return only successfully finished analyses","type":"boolean","default":true}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/LightAnalysis"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}":{"get":{"description":"Get an Analysis detail","summary":"","operationId":"getAnalysisSummary","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"previous_crawl","required":false,"description":"Previous analysis identifier","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/AnalysisDetail"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics":{"get":{"description":"Return global statistics for an analysis","summary":"","operationId":"getCrawlStatistics","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/CrawlStatistics"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/time":{"get":{"description":"Return crawl statistics grouped by time frequency (1 min, 5 mins or 60 min) for an analysis","summary":"","operationId":"getCrawlStatisticsByFrequency","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"limit","required":false,"description":"max number of elements to retrieve","type":"integer","format":"int32"},{"in":"query","name":"frequency","required":true,"description":"Aggregation frequency","type":"string","enum":["1mn","5mn","60mn"]}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/CrawlStatisticsTime"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/urls/{list_type}":{"get":{"description":"Return a list of 1000 latest URLs crawled (all crawled URLs or only URLS with HTTP errors)","summary":"","operationId":"getCrawlStatisticsUrls","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsUrls"}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"list_type","type":"string","in":"path","required":true,"description":"URLs list type (crawled URLs or error URLs)","enum":["crawled","errors"]}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/ganalytics/orphan_urls/{medium}/{source}":{"get":{"description":"Legacy    List of Orphan URLs. URLs which generated visits from the selected source according to Google Analytics data, but were not crawled with by the Botify crawler (either because no links to them were found on the website, or because the crawler was not allowed to follow these links according to the project settings).   For a search engine (medium: origanic; sources: all, aol, ask, baidu, bing, google, naver, yahoo, yandex) or a social network (medium: social; sources: all, facebook, google+, linkedin, pinterest, reddit, tumblr, twitter)","summary":"Legacy","operationId":"getGanalyticsOrphanURLs","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/CrawlOrphanURLs"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"medium","type":"string","in":"path","required":true,"description":"Type of traffic, value: 'organic' (from search engine)or 'social' (from a social network)","enum":["organic","social"]},{"name":"source","type":"string","in":"path","required":true,"description":"Traffic source, value: name of the search engine or social network","enum":["all","aol","ask","baidu","bing","facebook","google","google+","linkedin","naver","pinterest","reddit","tumblr","twitter","yahoo","yandex"]}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/links/percentiles":{"get":{"description":"Get inlinks percentiles","summary":"","operationId":"getLinksPercentiles","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/LinksPercentiles"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/pagerank/lost":{"get":{"description":"Lost pagerank","summary":"","operationId":"getPageRankLost","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/PageRankLost"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/scoring/summary":{"get":{"description":"Scoring summary","summary":"","operationId":"getScoring","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/ScoringSummary"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/search_console/stats":{"get":{"description":"List clicks and impressions per day","summary":"","operationId":"getKeywordsStats","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/KeywordsStats"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/report":{"get":{"description":"Get global information of the sitemaps found (sitemaps indexes, invalid sitemaps urls, etc.)","summary":"","operationId":"getSitemapsReport","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/SitemapsReport"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/out_of_config":{"get":{"description":"Sample list of URLs which were found in your sitemaps but outside of the crawl perimeter defined for the project, for instance domain/subdomain or protocol (HTTP/HTTPS) not allowed in the crawl settings.","summary":"","operationId":"getSitemapsSamplesOutOfConfig","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"type":"string"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/sitemap_only":{"get":{"description":"Sample list of URLs which were found in your sitemaps, within the project allowed scope (allowed domains/subdomains/protocols), but not found by the Botify crawler.","summary":"","operationId":"getSitemapsSamplesSitemapsOnly","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"type":"string"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/domains":{"get":{"description":"Top domains","summary":"","operationId":"getLinksTopDomains","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/LinksTopDomains"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/subdomains":{"get":{"description":"Top subddomains","summary":"","operationId":"getLinksTopSubdomains","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/LinksTopDomains"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/features/visits/orphan_urls/{medium}/{source}":{"get":{"description":"List of Orphan URLs. URLs which generated visits from the selected source according to Google Analytics data, but were not crawled with by the Botify crawler (either because no links to them were found on the website, or because the crawler was not allowed to follow these links according to the project settings).   For a search engine (medium: origanic; sources: all, aol, ask, baidu, bing, google, naver, yahoo, yandex) or a social network (medium: social; sources: all, facebook, google+, linkedin, pinterest, reddit, tumblr, twitter)","summary":"","operationId":"getVisitsOrphanURLs","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/CrawlOrphanURLs"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"medium","type":"string","in":"path","required":true,"description":"Type of traffic, value: 'organic' (from search engine)or 'social' (from a social network)","enum":["organic","social"]},{"name":"source","type":"string","in":"path","required":true,"description":"Traffic source, value: name of the search engine or social network","enum":["all","aol","ask","baidu","bing","facebook","google","google+","linkedin","naver","pinterest","reddit","tumblr","twitter","yahoo","yandex"]}]},"/analyses/{username}/{project_slug}/{analysis_slug}/pause":{"post":{"description":"Pause an analysis for a project","summary":"","operationId":"pauseAnalysis","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/AnalysisPause"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/resume":{"post":{"description":"Resume an analysis for a project","summary":"","operationId":"resumeAnalysis","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/AnalysisResume"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/segments":{"get":{"description":"Get the segments feature public metadata of an analysis.","summary":"","operationId":"getAnalysisSegments","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/AnalysisSegments"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/staticfiles/robots-txt-indexes":{"get":{"description":"Return an object containing all robots.txt files found on the project's domains. The object is null for virtual robots.txt.","summary":"","operationId":"getRobotsTxtIndexesView","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/Default"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/staticfiles/robots-txt-indexes/{robots_txt}":{"get":{"description":"Return content of a robots.txt file.","summary":"","operationId":"getRobotsTxtFileView","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/Default"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"robots_txt","type":"string","in":"path","required":true,"description":"Filename"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls":{"post":{"description":"Executes a query and returns a paginated response","summary":"","operationId":"getUrls","produces":["application/json"],"tags":["Analysis"],"parameters":[{"name":"Query","in":"body","schema":{"$ref":"#/definitions/Query"},"description":"Query"},{"in":"query","name":"area","required":false,"description":"Analysis context","type":"string","default":"current","enum":["current","disappeared","new","search_engines_orphans","gsc_keywords","gsc_keywords_by_country"]},{"in":"query","name":"page","required":false,"description":"Page Number","type":"integer","format":"int32"},{"in":"query","name":"size","required":false,"description":"Page Size","type":"integer","format":"int32"},{"in":"query","name":"previous_crawl","required":false,"description":"Previous analysis identifier","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/UrlDetail"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/aggs":{"post":{"description":"Query aggregator. It accepts multiple queries and dispatches them.","summary":"","operationId":"getUrlsAggs","produces":["application/json"],"tags":["Analysis"],"parameters":[{"name":"AggsQueries","in":"body","schema":{"$ref":"#/definitions/AggsQueries"},"description":"AggsQueries"},{"in":"query","name":"area","required":false,"description":"Analysis context","type":"string","default":"current","enum":["current","disappeared","new","search_engines_orphans","gsc_keywords","gsc_keywords_by_country"]},{"in":"query","name":"previous_crawl","required":false,"description":"Previous analysis identifier","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Aggs"}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/ai/{url}":{"get":{"description":"Gets AI suggestions of an URL for an analysis","summary":"","operationId":"getUrlAI","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/UrlAI"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"url","type":"string","in":"path","required":true,"description":"(Urlencoded) Searched URL"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/datamodel":{"get":{"description":"Gets an Analysis datamodel","summary":"","operationId":"getUrlsDatamodel","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"area","required":false,"description":"Analysis context","type":"string","default":"current","enum":["current","disappeared","new","search_engines_orphans","gsc_keywords","gsc_keywords_by_country"]},{"in":"query","name":"previous_crawl","required":false,"description":"Previous analysis identifier","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datamodel"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/datasets":{"get":{"description":"Gets Analysis Datasets","summary":"","operationId":"getUrlsDatasets","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"area","required":false,"description":"Analysis context","type":"string","default":"current","enum":["current","disappeared","new","search_engines_orphans","gsc_keywords","gsc_keywords_by_country"]},{"in":"query","name":"previous_crawl","required":false,"description":"Previous analysis identifier","type":"string"},{"in":"query","name":"deprecated_fields","required":false,"description":"Include deprecated fields","type":"boolean","default":true},{"in":"query","name":"sequenced","required":false,"description":"Whether to use sequenced groups","type":"boolean","default":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datasets"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/export":{"get":{"description":"A list of the CSV Exports requests and their current status","summary":"","operationId":"getUrlsExports","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/CsvExportStatus"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"post":{"description":"Creates a new UrlExport object and starts a task that will export the results into a csv. Returns the model id that manages the task","summary":"","operationId":"createUrlsExport","produces":["application/json"],"tags":["Analysis"],"parameters":[{"name":"Query","in":"body","schema":{"$ref":"#/definitions/Query"},"description":"Query"},{"in":"query","name":"area","required":false,"description":"Analysis context","type":"string","default":"current","enum":["current","disappeared","new","search_engines_orphans","gsc_keywords","gsc_keywords_by_country"]},{"in":"query","name":"previous_crawl","required":false,"description":"Previous analysis identifier","type":"string"},{"in":"query","name":"export_size","required":false,"description":"Maximum size of the export (deprecated => size instead)","type":"integer","format":"int32"},{"in":"query","name":"size","required":false,"description":"Maximum size of the export","type":"integer","format":"int32"},{"in":"query","name":"compression","required":false,"description":"Compressed file format","type":"string","default":"gzip","enum":["zip","gzip"]}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/CsvExportStatus"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/export/{url_export_id}":{"get":{"description":"Checks the status of an CSVUrlExportJob object. Returns json object with the status.","summary":"","operationId":"getUrlsExportStatus","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/CsvExportStatus"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"url_export_id","type":"string","in":"path","required":true,"description":"Url Export ID"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/html/{url}":{"get":{"description":"Gets the HTML of an URL for an analysis","summary":"","operationId":"getUrlHTML","produces":["application/json"],"tags":["Analysis"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/UrlHTML"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"url","type":"string","in":"path","required":true,"description":"(Urlencoded) Searched URL"}]},"/analyses/{username}/{project_slug}/{analysis_slug}/urls/{url}":{"get":{"description":"Gets the detail of an URL for an analysis","summary":"","operationId":"getUrlDetail","produces":["application/json"],"tags":["Analysis"],"parameters":[{"in":"query","name":"fields","required":false,"description":"comma separated list of fields to return (c.f. URLs Datamodel)","type":"array","collectionFormat":"csv","items":{"type":"string"}}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/UrlDetail"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"analysis_slug","type":"string","in":"path","required":true,"description":"Analysis' identifier"},{"name":"url","type":"string","in":"path","required":true,"description":"(Urlencoded) Searched URL"}]},"/jobs":{"get":{"description":"List All jobs","summary":"","operationId":"getJobs","produces":["application/json"],"tags":["Job"],"parameters":[{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false},{"in":"query","name":"job_type","required":false,"description":"The job type","type":"string"},{"in":"query","name":"project","required":false,"description":"The project slug","type":"string"},{"in":"query","name":"analysis","required":false,"description":"The analysis slug","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/JobResults"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"post":{"description":"Creates a job instance of a class which depends on the \"job_type\" parameter you sent. Returns the model id that manages the task.","summary":"","operationId":"createJob","produces":["application/json"],"tags":["Job"],"parameters":[{"name":"JobCreate","in":"body","schema":{"$ref":"#/definitions/JobCreate"},"description":"Job create"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/JobResults"}}}},"parameters":[]},"/jobs/{job_id}":{"get":{"description":"Retrieve one job","summary":"","operationId":"getJob","produces":["application/json"],"tags":["Job"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/JobResults"}}}},"parameters":[{"name":"job_id","type":"string","in":"path","required":true,"description":"the id of the job to retrieve"}]},"/projects/{username}":{"get":{"description":"List all active projects for the user","summary":"","operationId":"getUserProjects","produces":["application/json"],"tags":["User"],"parameters":[{"in":"query","name":"name","description":"Project's name","type":"string"},{"in":"query","name":"page","description":"Page Number","type":"integer","required":false,"default":1},{"in":"query","name":"size","description":"Page Size","type":"integer","required":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/Project"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"}]},"/projects/{username}/{project_slug}/account_filters":{"get":{"description":"List all the account saved filters","summary":"","operationId":"getAccountSavedFilters","produces":["application/json"],"tags":["ProjectQuery"],"parameters":[{"in":"query","name":"page","required":false,"description":"Page Number","type":"integer","format":"int32"},{"in":"query","name":"size","required":false,"description":"Page Size","type":"integer","format":"int32"},{"in":"query","name":"search","required":false,"description":"Search query on the filter name","type":"string"},{"in":"query","name":"disable_project","required":false,"description":"Flag to return or not filters of this project","type":"boolean","default":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/ProjectSavedFilter"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/projects/{username}/{project_slug}/collections":{"get":{"description":"List all collections for a project","summary":"","operationId":"getProjectCollections","produces":["application/json"],"tags":["Collections"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Collection"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/projects/{username}/{project_slug}/collections/{collection}":{"get":{"description":"Get the detail of a collection","summary":"","operationId":"getCollectionDetail","produces":["application/json"],"tags":["Collections"],"parameters":[{"in":"query","name":"sequenced","required":false,"description":"Whether to use sequenced groups","type":"boolean","default":false}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/CollectionDatasets"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"collection","type":"string","in":"path","required":true,"description":"The collection to query"}]},"/projects/{username}/{project_slug}/filters":{"get":{"description":"List all the project's saved filters (each filter's name, ID and filter value)","summary":"","operationId":"getSavedFilters","produces":["application/json"],"tags":["Project"],"parameters":[{"in":"query","name":"page","required":false,"description":"Page Number","type":"integer","format":"int32"},{"in":"query","name":"size","required":false,"description":"Page Size","type":"integer","format":"int32"},{"in":"query","name":"search","required":false,"description":"Search query on the filter name","type":"string"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/ProjectSavedFilter"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/projects/{username}/{project_slug}/filters/{identifier}":{"get":{"description":"Retrieve a specific project saved, account or recommended filter's name, ID and filter value","summary":"","operationId":"getFilter","produces":["application/json"],"tags":["Project"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/ProjectSavedFilter"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"},{"name":"identifier","type":"string","in":"path","required":true}]},"/projects/{username}/{project_slug}/query":{"post":{"description":"Query collections at a project level.","summary":"","operationId":"projectQuery","produces":["application/json"],"tags":["Project"],"parameters":[{"name":"ProjectQuery","in":"body","schema":{"$ref":"#/definitions/ProjectQuery"},"description":"Project Query"},{"in":"query","name":"page","required":false,"description":"Page Number","type":"integer","format":"int32"},{"in":"query","name":"size","required":false,"description":"Page Size","type":"integer","format":"int32"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"type":"object","properties":{"next":{"type":"string"},"previous":{"type":"string"},"count":{"type":"integer"},"results":{"type":"array","items":{"$ref":"#/definitions/QueryResponses"}},"page":{"type":"integer"},"size":{"type":"integer"}}}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/projects/{username}/{project_slug}/saved_explorers":{"get":{"description":"List all the project's Saved Explorers.","summary":"","operationId":"getSavedExplorers","produces":["application/json"],"tags":["Project"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/SavedExplorer"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/projects/{username}/{project_slug}/urls/aggs":{"post":{"description":"Project Query aggregator. It accepts multiple queries that will be executed on all completed analyses in the project","summary":"","operationId":"getProjectUrlsAggs","produces":["application/json"],"tags":["Project"],"parameters":[{"name":"AggsQueries","in":"body","schema":{"$ref":"#/definitions/AggsQueries"},"description":"AggsQueries"},{"in":"query","name":"area","required":false,"description":"Analyses context","type":"string","default":"current","enum":["current","disappeared","new","gsc_keywords","gsc_keywords_by_country"]},{"in":"query","name":"last_analysis_slug","required":false,"description":"Last analysis on the trend","type":"string"},{"in":"query","name":"nb_analyses","required":false,"description":"Max number of analysis to return","type":"integer","format":"int32","default":20,"minimum":1,"maximum":20}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/Default"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/projects/{username}/{project_slug}/values_list/clone":{"post":{"description":"Clone all keyword groups of the current project to another one.  This endpoint is a little more general (for further use). That's why you will see a 'type' field (with a default value of: 'keywords').","summary":"","operationId":"cloneValuesList","produces":["application/json"],"tags":["Project","KeywordsGroups"],"parameters":[{"name":"ValuesListCloneRequestBody","in":"body","schema":{"$ref":"#/definitions/ValuesListCloneRequestBody"},"description":"JSON body to use as request body for ValuesList clone operation"}],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/ValuesListCloneResponse"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"},{"name":"project_slug","type":"string","in":"path","required":true,"description":"Project's identifier"}]},"/users/{username}/datasources_summary_by_projects":{"get":{"description":"Get the datasources details for all projects of a user","summary":"","operationId":"getDatasourcesSummaryByProjects","produces":["application/json"],"tags":["Datasource"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/ProjectDatasourceSummary"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"}]},"/users/{username}/projects":{"get":{"description":"List all active projects for the user","summary":"","operationId":"getAllUserProjects","produces":["application/json"],"tags":["Project"],"parameters":[],"responses":{"default":{"description":"error payload","schema":{"$ref":"#/definitions/DefaultPayload"}},"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Project"}}}},"parameters":[{"name":"username","type":"string","in":"path","required":true,"description":"User's identifier"}]}},"definitions":{"ContentDashboardSettings":{"properties":{"pages_locations":{"type":"object","description":"Location of some specific types of pages. Ex: {'category': {'segmentationSlug': 'pagetype', 'segmentValue': 'product'}}"},"products_count_html_extract":{"type":"string","description":"HTML Extract used to count the number of products on listing pages."}},"type":"object","required":["pages_locations","products_count_html_extract"]},"SubscriptionPlan":{"properties":{"plan":{"type":"string"},"start_date":{"type":"string","format":"date-time"},"data_retention":{"type":"string","readOnly":true},"alert_panel":{"type":"string","readOnly":true},"smart_activation":{"type":"string","readOnly":true}},"type":"object","required":["plan","start_date"]},"User":{"properties":{"username":{"type":"string","description":"Required. 30 characters or fewer. Letters, numbers and /-/_/. characters"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"full_name":{"type":"string","readOnly":true}},"type":"object","required":["username"]},"AnalysisPause":{"properties":{},"type":"object","description":"Pause Analysis"},"Dataset":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"groups":{"type":"array","items":{"$ref":"#/definitions/DatasetGroup"}},"fields":{"type":"array","items":{"$ref":"#/definitions/DatasetField"}},"multiple":{"type":"boolean"},"suggested_operations":{"type":"array","items":{"$ref":"#/definitions/SuggestedOperations"}},"category":{"type":"array","items":{"type":"string"}}},"type":"object","required":["id","name","groups","fields","category"]},"ProjectDatasourceSummary":{"properties":{"runnable":{"type":"string","readOnly":true},"datasource":{"type":"string"},"date_last_successful_revision":{"type":"string","readOnly":true},"last_revision_status":{"type":"string","readOnly":true},"stats":{"type":"string","readOnly":true},"segments":{"type":"string","readOnly":true}},"type":"object","required":["datasource"]},"AnalysisUpdateSuggest":{"properties":{"add_on_features":{"type":"array","items":{"$ref":"#/definitions/SuggestedUpdatesAddOnFeatures"}},"features_to_update":{"type":"array","items":{"$ref":"#/definitions/SuggestedUpdatesFeaturesToUpdate"}}},"type":"object","required":["add_on_features","features_to_update"]},"OrganizationUser":{"properties":{"owner":{"$ref":"#/definitions/User"},"name":{"type":"string","readOnly":true},"slug":{"type":"string","readOnly":true},"is_organization":{"type":"string","readOnly":true},"email":{"type":"string","readOnly":true}},"type":"object","required":["owner"]},"string":{"properties":{},"type":"object"},"AdminFileDatasource":{"properties":{"identifier":{"type":"string"},"name":{"type":"string"},"schema_definition":{"type":"object"},"delimiter":{"type":"string"},"file_format":{"type":"string"},"hide_collection":{"type":"boolean","description":"If True, the corresponding collection will not be publicly visible."},"extra":{"type":"string","readOnly":true}},"type":"object","required":["identifier","name"]},"ProjectQuery":{"properties":{"collections":{"type":"array","items":{"type":"string"}},"periods":{"type":"array","items":{"type":"string"}},"query":{"$ref":"#/definitions/QueryRequest"}},"type":"object","description":"Project Query","required":["collections","query"]},"CollectionMetadata":{"properties":{"date_start":{"type":"string","format":"date"},"date_end":{"type":"string","format":"date"},"date_last_modified":{"type":"string","format":"date-time"},"config":{"type":"object"}},"type":"object"},"AnyQueryFilter":{"properties":{"name":{"type":"string"},"filters":{"type":"object"},"identifier":{"type":"string"},"type":{"type":"string","readOnly":true},"description":{"type":"string"},"project_name":{"type":"string","readOnly":true}},"type":"object","description":"Any Queries","required":["name","filters","identifier","description"]},"CheckExternalStorageAccess":{"properties":{"access_ok":{"type":"string","readOnly":true}},"type":"object"},"AdminValuesList":{"properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"values":{"type":"object"}},"type":"object","required":["name"]},"UrlHTML":{"properties":{},"type":"object"},"JobAutomation":{"properties":{"public_id":{"type":"string","readOnly":true},"job_type":{"type":"string"},"trigger":{"type":"string","description":"The trigger that will start the job automation."},"payload":{"type":"object"},"description":{"type":"string","default":""},"active":{"type":"boolean"},"last_error":{"type":"string","readOnly":true},"recurring_type":{"type":"string"},"recurring_type_month":{"type":"string"},"day_of_week":{"type":"string"},"day_of_month":{"type":"string"},"interval":{"type":"integer","format":"int64","description":"Every N days/weeks/months","minimum":0,"maximum":2147483647},"naive_time":{"type":"string"},"next_launch_date":{"type":"string","format":"date-time","readOnly":true},"timezone":{"type":"string"}},"type":"object","description":"Job automation creation","required":["job_type","payload"]},"AdvancedExporter":{"properties":{"type":{"type":"string"},"name":{"type":"string"},"group":{"type":"string"},"lines":{"type":"integer","format":"int64"},"full_export":{"type":"boolean","default":false}},"type":"object","required":["type","name","group","lines"]},"LightAnalysis":{"properties":{"pk":{"type":"string","readOnly":true},"slug":{"type":"string"},"name":{"type":"string","readOnly":true},"friendly_name":{"type":"string"},"url":{"type":"string","readOnly":true},"status":{"type":"string","readOnly":true},"urls_done":{"type":"string","readOnly":true},"urls_in_queue":{"type":"string","readOnly":true},"date_launched":{"type":"string","format":"date-time"},"date_finished":{"type":"string","format":"date-time"},"date_last_modified":{"type":"string","format":"date-time","description":"Date of last modified analysis"},"date_created":{"type":"string","format":"date-time"},"to_be_deleted_at":{"type":"string","format":"date-time"},"comparable":{"type":"boolean","default":true},"excluded_from_trends":{"type":"boolean","description":"If yes, this crawl will be excluded from trends data"},"has_raw_pages":{"type":"boolean","description":"If yes, this crawl has raw HTML pages"}},"type":"object","required":["slug"]},"Query":{"properties":{"fields":{"type":"array","items":{"type":"string"}},"filters":{"type":"object"},"sort":{"type":"array","items":{"type":"string"}}},"type":"object","description":"Query"},"KeywordsStat":{"properties":{"type":{"type":"string"},"url":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/KeywordsStatData"}}},"type":"object","required":["type","data"]},"SearchConsoleConfiguration":{"properties":{"available_gsc_websites":{"type":"string","readOnly":true},"branded_keywords":{"type":"array","items":{"type":"object"}},"realkeywords_aggregation_type":{"type":"integer","format":"int64"}},"type":"object","description":"Configuration for the Search Console keywords page","required":["branded_keywords","realkeywords_aggregation_type"]},"AdminHtmlExtract":{"properties":{"extract_type":{"type":"string"},"config":{"type":"object"}},"type":"object","required":["config"]},"ProjectSettingsPulsePatch":{"properties":{"use_pulse":{"type":"boolean","description":"Crawl using Pulse settings"},"pulse_crawler_token":{"type":"string","description":"Pulse Crawler Token"}},"type":"object"},"CrawlStatisticsTime":{"properties":{"avg_delay":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"http_code_2xx":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"http_code_3xx":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"http_code_4xx":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"http_code_5xx":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"http_code_xxx":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"frequency":{"type":"string"},"last_update_date":{"type":"string","format":"date-time"},"avg_size":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}},"new_urls":{"type":"array","items":{"$ref":"#/definitions/CrawlStatisticsTimePoint"}}},"type":"object","required":["avg_delay","http_code_2xx","http_code_3xx","http_code_4xx","http_code_5xx","http_code_xxx","frequency","last_update_date","avg_size","new_urls"]},"AdminRules":{"properties":{"config":{"type":"string"},"date_created":{"type":"string","format":"date-time","readOnly":true},"segments_names":{"type":"object"}},"type":"object","required":["config"]},"MLPipelineActivation":{"properties":{"id":{"type":"integer","format":"int64","readOnly":true},"project":{"type":"string"},"pipelines":{"type":"array","description":"List of ML Pipeline active for the project","items":{"type":"string"}}},"type":"object","required":["project"]},"AdminConversionSetting":{"properties":{"id":{"type":"integer","format":"int64","readOnly":true},"file_format":{"type":"string","description":"Select the format of your file"},"has_header_csv":{"type":"boolean"},"separator":{"type":"string"},"file_encoding":{"type":"string","description":"Use this field only if the sent files cannot be decoded in utf-8. Note that this will affect the decoding of ALL files and slow down ingestion"},"filename_regex":{"type":"string","description":"Regex to find date in filename (only needed for S3)"},"filename_date_format":{"type":"string","description":"Format of the date in filename (only needed for S3)"},"provider_autoimport":{"type":"string","description":"If desired, select the provider for auto-import"},"fields_definition":{"type":"object","description":"Conversion setup JSON"},"currency":{"type":"string","description":"Define the currency in the ISO 4217 Currency Code, e.g., USD, EUR, CAD"},"airlock_directory":{"type":"string","description":"S3 Conversion Bucket"}},"type":"object"},"AdminProjectDatasource":{"properties":{"datasource":{"type":"string"},"frequency":{"type":"string"},"active":{"type":"boolean"},"max_months_to_pull_first_data_ingestion":{"type":"integer","format":"int64","description":"Max. months to pull until there's a successful datasource revision","minimum":0,"maximum":32767},"max_step_months_to_pull":{"type":"integer","format":"int64","description":"Max. additional months to pull at every datasource revision","minimum":0,"maximum":32767},"max_months_to_pull":{"type":"integer","format":"int64","description":"Max. past months to pull for the datasource","minimum":0,"maximum":32767},"allow_parallel_load_jobs":{"type":"boolean"},"date_last_modified":{"type":"string","format":"date-time"},"date_last_success":{"type":"string","format":"date-time"},"optimal_start_time":{"type":"string"},"min_date":{"type":"string","format":"date"},"max_date":{"type":"string","format":"date"},"extra":{"type":"string","readOnly":true}},"type":"object","required":["datasource"]},"CsvExportStatus":{"properties":{"job_id":{"type":"string","readOnly":true},"job_url":{"type":"string","readOnly":true},"job_status":{"type":"string","readOnly":true},"nb_results":{"type":"integer","format":"int64","minimum":0,"maximum":2147483647},"area":{"type":"string","default":0},"query":{"$ref":"#/definitions/Query"},"results":{"type":"string","readOnly":true},"date_created":{"type":"string","format":"date-time","readOnly":true},"size":{"type":"integer","format":"int64"},"user":{"type":"string","readOnly":true}},"type":"object","required":["query","size"]},"SearchConsole":{"properties":{"gsc_accounts_website":{"type":"string","readOnly":true},"import_keywords_data":{"type":"boolean"},"max_gsc_websites":{"type":"integer","format":"int64","minimum":0,"maximum":32767}},"type":"object"},"RegexConfig":{"properties":{"name":{"type":"string"},"slug":{"type":"string","readOnly":true},"aggregation":{"type":"string"},"cast":{"type":"string"},"match":{"type":"string"},"date_format":{"type":"string"},"float_format":{"type":"string"},"regex":{"type":"string"},"ignore_case":{"type":"boolean"}},"type":"object","description":"Regex config","required":["name","aggregation","cast","match","regex","ignore_case"]},"DatasetGroup":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"parent":{"type":"string"},"multiple":{"type":"boolean"},"description":{"type":"string"},"type":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object"}}},"type":"object","required":["id","name"]},"createAIConsent":{"properties":{},"type":"object"},"ProjectSettings":{"properties":{"blacklisted_domains":{"type":"array","items":{"type":"string"}},"allowed_domains":{"type":"array","items":{"type":"string"}},"pk":{"type":"string","readOnly":true}},"type":"object","required":["blacklisted_domains","allowed_domains"]},"AnalysisResume":{"properties":{},"type":"object","description":"Resume Analysis"},"FieldValuesResult":{"properties":{"value":{"type":"string"},"nb_urls":{"type":"integer","format":"int64"}},"type":"object","required":["value","nb_urls"]},"RecommendedFilter":{"properties":{"name":{"type":"string"},"filters":{"type":"object"},"identifier":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","default":"recommended","readOnly":true}},"type":"object","description":"Recommended UrlFilter","required":["name","filters","identifier","description"]},"TestRegexExtractRule":{"properties":{"extract_type":{"type":"string"},"url":{"type":"string"},"content":{"type":"string"},"rule":{"$ref":"#/definitions/RegexConfig"}},"type":"object","description":"Test regex extract rule","required":["extract_type","rule"]},"CrawlStatisticsTimePoint":{"properties":{"count":{"type":"integer","format":"int64"},"datetime":{"type":"string","format":"date-time"}},"type":"object","required":["count","datetime"]},"LinksPercentilesItem":{"properties":{"min":{"type":"integer","format":"int64"},"max":{"type":"integer","format":"int64"},"url_total":{"type":"integer","format":"int64"},"metric_total":{"type":"integer","format":"int64"},"avg":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"}},"type":"object","required":["min","max","url_total","metric_total","avg","id"]},"AdminCustomUseCase":{"properties":{"name":{"type":"string","readOnly":true},"label":{"type":"string"},"type":{"type":"string"},"description":{"type":"string","description":"\n    <strong>Description of the use case</strong><br/>\n    Note that use of HTML is authorized.<br/>\n    "},"bql_filters":{"type":"object"},"trigger_movement":{"type":"string"},"use_crawl_full_scope":{"type":"boolean","description":"Do you want to base Alert Panel alerts computation on all URLs crawled?"}},"type":"object","required":["label","type","bql_filters","trigger_movement"]},"AdminLogAnalysisSettings":{"properties":{"search_engines":{"type":"array","items":{"type":"string"}},"active":{"type":"boolean"},"allowed_domains":{"type":"object","description":"Enter a valid JSON object<br />All domains listed here are used to filter the logs: the BLA dashboard will only contain URLs from allowed domains<br />ex: [\"www.domain.com\", \"sub.domain.com\"]"},"blacklisted_domains":{"type":"object","description":"Enter a valid JSON object"},"blacklisted_patterns":{"type":"object","description":"Enter a valid JSON object"},"dir_as_html":{"type":"boolean"},"max_files":{"type":"integer","format":"int64","description":"Max files ingested in first revision","minimum":0,"maximum":2147483647},"sync_status":{"type":"string","description":"No Auto-sync: Client does not automatically deliver their logs.<br />Auto-sync: Client automatically deliver their logs.<br />Frozen: Client is supposed to deliver logs but doesn't (exclude from monitoring)."},"max_acceptable_delay":{"type":"string","description":"Last uploaded file alerts threshold (hours) - 26 hours if null (Ex: put '72:00:00' for 72 hours)"},"reject_urls_after_nb_days":{"type":"integer","format":"int64","description":"Reject URL from history after nb_days not crawled and 0 visit","minimum":0,"maximum":2147483647},"v2_closed":{"type":"boolean","description":"BLA V2 closed for this project"},"v3_enabled":{"type":"boolean","description":"BLA V3 enabled for this project"},"v34_enabled":{"type":"boolean","description":"Enable BLA V3.4 computation (independent from BLA V3)"},"private_notes":{"type":"string","description":"Internal notes about setup, follow-up..."},"send_daily_email":{"type":"boolean","description":"Send an email when finishing the update workflow"},"anonymize_data":{"type":"boolean","description":"Requires 'Archive=yes'"},"archive":{"type":"boolean","description":"Keep only crawl and visit lines, compress into zst and archive result on S3"},"archive_region":{"type":"string","description":"Region where 'archive' processing takes place / storage is always in the US"},"subdomain_ignore_depth_after":{"type":"integer","format":"int64","description":"Depth of subdomain to ignore in host segmentation (1: replace foo in foo.bar.example.com with '*')","minimum":-2147483648,"maximum":2147483647},"stop_after_normalization":{"type":"boolean","description":"Should the log workflow stop after the normalization ?"},"only_push_events":{"type":"boolean","description":"Should the log workflow stop after events tables are pushed?"},"adhoc_settings":{"type":"object","description":"Ad-hoc settings to override update workflow configuration for huge projects. See <a href=\"https://botify.atlassian.net/wiki/spaces/ENG/pages/3789684780/Log+Analyzer+for+big+clients+Playbook+BLA\">doc</a> for details.<br>ex:<br><pre>{\n  \"merge_urls_group_chunk_size\": 2,\n  \"seen_chain_chunk_size\": 12,\n  \"history_seen_chain_chunk_size\": 6,\n  \"make_hashes_files_group_chunk_size\": 4\n}</pre>"},"sampling_enabled":{"type":"boolean","description":"SHOULD ONLY BE SET AT PROJECT SETUP. DO NOT ENABLE WITHOUT SPEAKING TO DEVS. Enables normalization sampling feature."},"sampling_by_url_pct":{"type":"integer","format":"int64","description":"How many urls to keep out of a 100. Will only keep urls where url_hash % 100 < value.","minimum":0,"maximum":32767},"ignore_rendering_crawls":{"type":"boolean","description":"Should we ignore rendering lines (bots api calls) when normalizing files?"}},"type":"object"},"KeywordsStats":{"properties":{"stats":{"type":"array","items":{"$ref":"#/definitions/KeywordsStat"}}},"type":"object","required":["stats"]},"WebProperty":{"properties":{"public_id":{"type":"string"},"name":{"type":"string"},"domain":{"type":"string"},"current_subscription_plan":{"$ref":"#/definitions/SubscriptionPlan"},"renewal_subscription_plan":{"$ref":"#/definitions/SubscriptionPlan"}},"type":"object","required":["public_id","name","domain","current_subscription_plan","renewal_subscription_plan"]},"Project":{"properties":{"name":{"type":"string"},"slug":{"type":"string"},"user":{"$ref":"#/definitions/User"},"organization":{"$ref":"#/definitions/OrganizationUser"},"current_settings":{"$ref":"#/definitions/ProjectSettings"},"active":{"type":"boolean"},"date_created":{"type":"string","readOnly":true},"url":{"type":"string","readOnly":true},"last_analysis":{"type":"object","readOnly":true},"timezone":{"type":"string"},"auto_pin_first_analysis":{"type":"boolean"},"settings_url":{"type":"string","readOnly":true},"retention_period":{"type":"integer","format":"int64","minimum":0,"maximum":2147483647},"public_id":{"type":"string","readOnly":true},"account_id":{"type":"string","readOnly":true},"pk":{"type":"string","readOnly":true},"has_crawl":{"type":"boolean"},"has_logs":{"type":"boolean"},"has_keywords":{"type":"string","readOnly":true},"max_gsc_websites":{"type":"integer","format":"int64","minimum":0,"maximum":32767},"max_gsc_via_bq_websites":{"type":"integer","format":"int64","description":"Maximum number of GSC properties that can be activated using BigQuery bulk export","minimum":0,"maximum":32767},"realkeywords_aggregation_type":{"type":"integer","format":"int64","description":"If 'New: By website & by URL' is selected, data will be shown aggregated by website wherever possible in RealKeywords"},"actionboard_enabled":{"type":"boolean"},"has_actionboard":{"type":"string","readOnly":true},"has_alertpanel":{"type":"string","readOnly":true},"has_engagement_analytics":{"type":"boolean"},"has_speedworkers":{"type":"string","readOnly":true},"has_pageworkers":{"type":"string","readOnly":true},"pulse_enabled":{"type":"boolean"},"has_pulse":{"type":"string","readOnly":true},"has_smartcontent":{"type":"string","readOnly":true},"has_smartlink":{"type":"string","readOnly":true},"has_ai_consent":{"type":"string","readOnly":true},"has_web_vitals_field_data":{"type":"boolean"},"last_actionboard_revision":{"type":"string","readOnly":true},"permissions":{"type":"string","readOnly":true},"tree_colors":{"type":"string","readOnly":true},"activation_website_id":{"type":"string"},"pulse_website_id":{"type":"string"},"max_extracts":{"type":"integer","format":"int64"},"category":{"type":"string","default":0},"webproperty":{"$ref":"#/definitions/WebProperty"},"main_segment":{"type":"string","readOnly":true},"recurring_crawl_settings":{"$ref":"#/definitions/RecurringCrawlSettings"},"next_launch_date":{"type":"string","readOnly":true},"private_config":{"type":"string","readOnly":true},"has_page_qualification":{"type":"string","readOnly":true}},"type":"object","required":["name","slug","user","organization","current_settings","has_crawl","has_logs","actionboard_enabled","has_engagement_analytics","pulse_enabled","has_web_vitals_field_data","max_extracts","webproperty","recurring_crawl_settings"]},"AdminSavedExplorer":{"properties":{"query":{"type":"object"},"name":{"type":"string"},"description":{"type":"string"}},"type":"object","required":["name"]},"CrawlStatistics":{"properties":{"depth_current":{"type":"integer","format":"int64"},"pages_dones_networkerror":{"type":"integer","format":"int64"},"pages_dones_3xx":{"type":"integer","format":"int64"},"pages_dones":{"type":"integer","format":"int64"},"pages_dones_2xx":{"type":"integer","format":"int64"},"last_upd_dt":{"type":"string","format":"date-time"},"pages_dones_5xx":{"type":"integer","format":"int64"},"pages_dones_xxx":{"type":"integer","format":"int64"},"pages_dones_4xx":{"type":"integer","format":"int64"},"pages_known":{"type":"integer","format":"int64"},"crawler_ip":{"type":"string"}},"type":"object","required":["depth_current","pages_dones_networkerror","pages_dones_3xx","pages_dones","pages_dones_2xx","last_upd_dt","pages_dones_5xx","pages_dones_xxx","pages_dones_4xx","pages_known"]},"Event":{"properties":{"id":{"type":"string","readOnly":true},"username":{"type":"string","readOnly":true},"project":{"type":"string","readOnly":true},"author":{"type":"string","readOnly":true},"impersonator":{"type":"string","readOnly":true},"start_date":{"type":"string","format":"date-time"},"end_date":{"type":"string","format":"date-time"},"title":{"type":"string"},"scope":{"type":"string"},"data":{"type":"object"},"created_date":{"type":"string","format":"date-time","readOnly":true},"modified_date":{"type":"string","format":"date-time","readOnly":true}},"type":"object","description":"Event object","required":["start_date"]},"SitemapsReport":{"properties":{"count":{"type":"integer","format":"int64"},"sitemap_only":{"$ref":"#/definitions/SitemapsReportOnly"},"sitemap_indexes":{"type":"array","items":{"$ref":"#/definitions/SitemapsReportSitemap"}},"sitemaps":{"type":"array","items":{"$ref":"#/definitions/SitemapsReportSitemap"}},"errors":{"type":"array","items":{"$ref":"#/definitions/SitemapsReportSitemap"}}},"type":"object"},"SavedExplorer":{"properties":{"uuid":{"type":"string","readOnly":true},"name":{"type":"string"},"type":{"type":"string","readOnly":true},"description":{"type":"string"},"query":{"type":"object"},"created_by":{"readOnly":true,"$ref":"#/definitions/User"},"modified_by":{"readOnly":true,"$ref":"#/definitions/User"},"created_date":{"type":"string","format":"date-time","readOnly":true},"modified_date":{"type":"string","format":"date-time","readOnly":true}},"type":"object","description":"Project's saved explorer","required":["name","query"]},"AdvancedExporters":{"properties":{"exporters":{"type":"array","items":{"$ref":"#/definitions/AdvancedExporter"}}},"type":"object","required":["exporters"]},"KeywordsGroupsStatus":{"properties":{"can_launch_update":{"type":"boolean"},"has_deleted_keywords_groups":{"type":"boolean"},"keywords_groups_not_up_to_date":{"type":"array","items":{"type":"string"}},"new_keywords_groups":{"type":"array","items":{"type":"string"}}},"type":"object","required":["can_launch_update","has_deleted_keywords_groups","keywords_groups_not_up_to_date","new_keywords_groups"]},"UrlAI":{"properties":{"result":{"type":"string"}},"type":"object","required":["result"]},"Datamodel":{"properties":{"fields":{"type":"array","items":{"$ref":"#/definitions/DatamodelField"}},"groups":{"type":"array","items":{"$ref":"#/definitions/DatamodelGroup"}},"max_timeseries_fields":{"type":"integer","format":"int64"},"aliases":{"type":"object"}},"type":"object","required":["fields","groups"]},"AdminProjectSettings":{"properties":{"start_urls":{"type":"object"},"start_urls_url":{"type":"object"},"max_nb_pages":{"type":"integer","format":"int64","minimum":1,"maximum":2147483647},"max_depth":{"type":"integer","format":"int64","minimum":0,"maximum":2147483647},"compare_crawl":{"type":"boolean"},"blacklisted_domains":{"type":"object"},"allowed_domains":{"type":"object"},"preferred_protocol":{"type":"integer","format":"int64"},"respect_nofollow":{"type":"boolean"},"follow_canonical":{"type":"boolean"},"follow_hreflang":{"type":"boolean"},"follow_altmedia":{"type":"boolean"},"follow_amprel":{"type":"boolean"},"no_meta_fragment":{"type":"boolean"},"http2":{"type":"boolean"},"crawl_gzip":{"type":"boolean"},"robots_txt":{"type":"string"},"content_quality":{"type":"boolean"},"compliant_exclude_bad_canonicals":{"type":"boolean"},"js_crawl":{"type":"boolean"},"extra_admin_config":{"type":"string"},"user_agent":{"type":"string"},"mobile_user_agent":{"type":"string"},"max_pages_per_sec":{"type":"integer","format":"int64","minimum":1,"maximum":2147483647},"extra_headers":{"type":"string"},"full_export_base_uri":{"type":"string","description":"This field declares the base location where to store full exports, eg: s3://foo.bar/botify_exports/"},"full_export_host":{"type":"string","description":"Host of the bucket where to store full exports, eg: s3-eu-west-1.amazonaws.com"},"full_export_canonical_user_ids":{"type":"string","description":"Optional field that declares the list of ids of the canonical users to allow the access full export files. Use comma to separate values."},"full_export_create_uri_method":{"type":"integer","format":"int64","description":"Determine the method that will be used in order to build the path where the advanced export file will be stored on the remote S3 Bucket.<br/><strong>DEFAULT</strong> = s3://[base]/[project_slug]/[crawl_slug]/[export_type]<br/><strong>AMAZON</strong> = s3://[base]/[export_type]/[project_slug]/[export_slug]/<br/>Note: It also remove 'amazon' from the project slug"},"header_login":{"type":"string"},"header_authorization":{"type":"string"},"header_settings":{"type":"object"},"remove_parameters":{"type":"object"},"url_rewriting":{"type":"object"},"use_fixed_ip":{"type":"boolean"},"use_portal_proxy_cloud":{"type":"boolean"},"portal_proxy_cloud_version":{"type":"string"},"use_portal_proxy_metal":{"type":"boolean","description":"Do not enable unless you know what you are doing."},"portal_proxy_metal_version":{"type":"string"},"use_prr":{"type":"boolean","description":"Crawl using Rendering Farm (PRR implem)"},"use_pulse":{"type":"boolean","description":"Crawl using Pulse settings"},"pulse_crawler_token":{"type":"string","description":"Pulse Crawler Token"},"pulse_lambda_url_override":{"type":"string","description":"Pulse Lambda URL Override"},"crawler_retry":{"type":"boolean"},"http_codes_to_retry":{"type":"object"},"extracts":{"type":"array","items":{"$ref":"#/definitions/AdminHtmlExtract"}},"sitemaps":{"type":"object"}},"type":"object","required":["max_nb_pages"]},"DatasetField":{"properties":{"multiple":{"type":"boolean"},"name":{"type":"string"},"subtype":{"type":"string"},"group":{"type":"string"},"type":{"type":"string"},"kind":{"type":"string"},"id":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"}},"aliases":{"type":"array","items":{"type":"string"}},"settings":{"type":"object"},"optional":{"type":"boolean"},"suggestion":{"type":"boolean"},"meta":{"type":"object"},"deprecated":{"type":"boolean"}},"type":"object","required":["multiple","name","subtype","type","kind","id","permissions","optional"]},"ProjectUserSettings":{"properties":{"google_analytics_nb_days":{"type":"integer","format":"int64","minimum":1,"maximum":90},"preferred_protocol":{"type":"string","default":1},"visits_provider":{"type":"string"},"google_analytics_account_email":{"type":"string","description":"Keep email in case user delete his social auth connection"},"google_analytics_account_id":{"type":"integer","format":"int64","minimum":-2147483648,"maximum":2147483647},"google_analytics_webproperty_id":{"type":"string"},"google_analytics_site_id":{"type":"integer","format":"int64","minimum":-2147483648,"maximum":2147483647},"accounts":{"type":"string","readOnly":true}},"type":"object"},"KeywordsStatDetail":{"properties":{"clicks":{"type":"integer","format":"int64"},"impressions":{"type":"integer","format":"int64"},"sampled_clicks":{"type":"integer","format":"int64"},"sampled_impressions":{"type":"integer","format":"int64"}},"type":"object","required":["clicks","impressions","sampled_clicks","sampled_impressions"]},"JobCreate":{"properties":{"job_id":{"type":"string","readOnly":true},"job_type":{"type":"string"},"job_url":{"type":"string","readOnly":true},"job_status":{"type":"string","readOnly":true},"payload":{"type":"object"},"results":{"type":"object"},"date_created":{"type":"string","format":"date-time","readOnly":true},"user":{"type":"string","readOnly":true},"metadata":{"type":"object"}},"type":"object","description":"Job create","required":["job_type","payload"]},"Datasource":{"properties":{},"type":"object"},"AdvancedExportStatus":{"properties":{"job_id":{"type":"string","readOnly":true},"job_url":{"type":"string","readOnly":true},"job_status":{"type":"string","readOnly":true},"advanced_export_type":{"type":"string"},"query":{"type":"string","readOnly":true},"results":{"type":"string","readOnly":true},"date_created":{"type":"string","format":"date-time","readOnly":true},"full_export":{"type":"boolean","default":false},"user":{"type":"string","readOnly":true}},"type":"object","required":["advanced_export_type"]},"ScoringSummary":{"properties":{"results":{"type":"object"}},"type":"object","required":["results"]},"AnalysisSegments":{"properties":{"segments":{"type":"string","readOnly":true}},"type":"object","description":"Analysis Segments"},"ValuesList":{"properties":{"name":{"type":"string"},"slug":{"type":"string","description":"Derived from the name, then immutable","readOnly":true},"description":{"type":"string"},"type":{"type":"string"},"values":{"type":"object"},"excluded_values":{"type":"object"},"created_by":{"readOnly":true,"$ref":"#/definitions/User"},"modified_by":{"readOnly":true,"$ref":"#/definitions/User"},"created_date":{"type":"string","format":"date-time","readOnly":true},"modified_date":{"type":"string","format":"date-time","readOnly":true}},"type":"object","description":"Project's Values List","required":["name"]},"CollectionDatasets":{"properties":{"datasets":{"type":"array","items":{"$ref":"#/definitions/Dataset"}},"metadata":{"$ref":"#/definitions/CollectionMetadata"}},"type":"object","required":["datasets"]},"LinksTopDomainsSamples":{"properties":{"url":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"unique_links":{"type":"integer","format":"int64"}},"type":"object","required":["url","sources","unique_links"]},"ProjectTeamUser":{"properties":{"teams":{"type":"string","readOnly":true},"users":{"type":"string","readOnly":true}},"type":"object"},"AnalysesUpdateLaunch":{"properties":{"analyses":{"type":"array","items":{"type":"string"}},"refresh_features":{"type":"array","items":{"type":"string"}}},"type":"object","description":"Launch Analyses Updates","required":["analyses","refresh_features"]},"AnalysisDetail":{"properties":{"user":{"$ref":"#/definitions/User"},"owner":{"type":"string","readOnly":true},"slug":{"type":"string","readOnly":true},"name":{"type":"string","readOnly":true},"friendly_name":{"type":"string","readOnly":true},"url":{"type":"string","readOnly":true},"status":{"type":"string","readOnly":true},"computing_revision":{"type":"string","readOnly":true},"features":{"type":"string","readOnly":true},"urls_done":{"type":"string","readOnly":true},"urls_in_queue":{"type":"string","readOnly":true},"config":{"type":"string","readOnly":true},"date_launched":{"type":"string","format":"date-time"},"date_finished":{"type":"string","format":"date-time"},"date_last_modified":{"type":"string","format":"date-time","description":"Date of last modified analysis"},"date_created":{"type":"string","format":"date-time"},"date_crawl_done":{"type":"string","readOnly":true},"failures":{"type":"string","readOnly":true},"red_button_domain":{"type":"string"},"import_keywords_data":{"type":"string","readOnly":true},"import_keywords_data_by_country":{"type":"boolean","default":true},"crawl_launch_type":{"type":"string","readOnly":true},"to_be_deleted_at":{"type":"string","format":"date-time"},"comparable":{"type":"string","readOnly":true},"excluded_from_trends":{"type":"boolean","default":false},"pk":{"type":"string","readOnly":true},"has_raw_pages":{"type":"string","readOnly":true},"private_config":{"type":"string","readOnly":true}},"type":"object","required":["user"]},"ValuesListCloneRequestBody":{"properties":{"target_username":{"type":"string","description":"the target project username"},"target_project":{"type":"string","description":"the target project slug"},"type":{"type":"string","default":"keywords","description":"for further use only, the type of ValuesList to clone (default to 'keywords')"}},"type":"object","description":"JSON body to use as request body for ValuesList clone operation","required":["target_username","target_project"]},"LinksTopDomains":{"properties":{"follow_links":{"type":"integer","format":"int64"},"nofollow_links":{"type":"integer","format":"int64"},"domain":{"type":"string"},"follow_samples":{"type":"array","items":{"$ref":"#/definitions/LinksTopDomainsSamples"}},"nofollow_samples":{"type":"array","items":{"$ref":"#/definitions/LinksTopDomainsSamples"}},"unique_follow_links":{"type":"integer","format":"int64"},"unique_nofollow_links":{"type":"integer","format":"int64"}},"type":"object","required":["follow_links","nofollow_links","domain","follow_samples","nofollow_samples","unique_follow_links","unique_nofollow_links"]},"Default":{"properties":{},"type":"object"},"SitemapsReportSitemap":{"properties":{"url":{"type":"string"},"valid_urls":{"type":"integer","format":"int64"},"invalid_urls":{"type":"integer","format":"int64"},"file_type":{"type":"string"},"last_modified":{"type":"string"},"error":{"$ref":"#/definitions/SitemapsReportSitemapError"},"sitemap_indexes":{"type":"array","items":{"type":"string"}}},"type":"object"},"GSCWebsite":{"properties":{"property":{"type":"string"},"type":{"type":"string"},"status":{"type":"string"},"project_id":{"type":"string"},"dataset_id":{"type":"string"}},"type":"object","required":["property","type","status","project_id","dataset_id"]},"SitemapsReportSitemapError":{"properties":{"type":{"type":"string"},"message":{"type":"string"}},"type":"object"},"HtmlExtract":{"properties":{"id":{"type":"string","readOnly":true},"extract_type":{"type":"string"},"config":{"type":"object"}},"type":"object","description":"Html Extract","required":["config"]},"RecurringCrawlSettings":{"properties":{"recurring_type":{"type":"string","readOnly":true},"interval":{"type":"integer","format":"int64","description":"Every N days/weeks/months","minimum":0,"maximum":2147483647},"time":{"type":"string"},"recurring_type_month":{"type":"string","readOnly":true},"day_of_month":{"type":"string","readOnly":true},"naive_time":{"type":"string"},"minute_delay":{"type":"integer","format":"int64","minimum":60,"maximum":10080}},"type":"object"},"AdminPattern":{"properties":{"name":{"type":"string","description":"Not mandatory"},"active":{"type":"boolean"},"include_pattern":{"type":"string","description":"Pattern that matches the desired file names. You can use `date` or `timestamp` group to filter by date. Eg: \"(?P&lt;timestamp&gt;[0-9]{10})-site.log\" or \"^xxx-(?P&lt;date&gt;[0-9]+).log$\". If you use monotonic buckets, please use .*$ as a pattern as the include pattern will not work with merged files, please try to use the prefix pattern in the bucket if that's possible"},"exclude_pattern":{"type":"string"},"pattern":{"type":"string"},"url_prefix":{"type":"string","description":"⚠ Apache Logparser: this overrides vhost"},"check_bot_ips":{"type":"boolean"},"date_format":{"type":"string","description":"Refers to named pattern `date`, eg: \"%Y%m%d\""},"date_from":{"type":"string","format":"date","description":"Date from (inclusive)"},"date_to":{"type":"string","format":"date","description":"Date to (inclusive)"},"parser_type":{"type":"string"},"line_hook":{"type":"string","description":"This field must declare at least a method called hook(line)"},"force_https":{"type":"boolean","description":"Transform the URLs in HTTPS (force to start with \"https://\")"},"http_protocol_guess":{"type":"string"},"https_protocol_guess":{"type":"string"}},"type":"object","required":["include_pattern"]},"Collection":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"date":{"type":"string","readOnly":true},"timestamped":{"type":"boolean"},"date_start":{"type":"string","format":"date"},"date_end":{"type":"string","format":"date"},"generic_name":{"type":"string","readOnly":true}},"type":"object","required":["id","name","timestamped"]},"UrlDetail":{"properties":{},"type":"object"},"CrawlOrphanURLs":{"properties":{"url":{"type":"string"},"visits":{"type":"integer","format":"int64"}},"type":"object"},"ErrorAgg":{"properties":{"message":{"type":"string"},"error_code":{"type":"string"}},"type":"object","required":["message","error_code"]},"Aggs":{"properties":{"status":{"type":"integer","format":"int64"},"error":{"$ref":"#/definitions/ErrorAgg"}},"type":"object","required":["status"]},"SearchConsoleViaBQ":{"properties":{"property":{"type":"string"},"status":{"type":"string"},"project_id":{"type":"string"},"dataset_id":{"type":"string"}},"type":"object","description":"Configuration for the Search Console via BQ import on keywords page","required":["property","status","project_id","dataset_id"]},"DatamodelGroup":{"properties":{"id":{"type":"string"},"name":{"type":"string"}},"type":"object","required":["id","name"]},"AdminProject":{"properties":{"buckets":{"type":"array","items":{"$ref":"#/definitions/AdminBucket"}},"log_analysis_settings":{"$ref":"#/definitions/AdminLogAnalysisSettings"},"current_settings":{"$ref":"#/definitions/AdminProjectSettings"},"rules":{"$ref":"#/definitions/AdminRules"},"values_lists":{"type":"array","items":{"$ref":"#/definitions/AdminValuesList"}},"custom_use_cases":{"type":"array","items":{"$ref":"#/definitions/AdminCustomUseCase"}},"project_queries":{"type":"array","items":{"$ref":"#/definitions/AdminProjectQuery"}},"saved_explorers":{"type":"array","items":{"$ref":"#/definitions/AdminSavedExplorer"}},"conversion_settings":{"$ref":"#/definitions/AdminConversionSetting"},"project_datasources":{"type":"array","items":{"$ref":"#/definitions/AdminProjectDatasource"}},"file_datasources":{"type":"array","items":{"$ref":"#/definitions/AdminFileDatasource"}}},"type":"object"},"CrawlStatisticsUrls":{"properties":{"http":{"type":"integer","format":"int64"},"url":{"type":"string"},"redirects_to":{"type":"string"},"delay_last_byte":{"type":"integer","format":"int64"},"gzip":{"type":"boolean"},"length":{"type":"integer","format":"int64"},"content_type":{"type":"string"},"date":{"type":"string"},"delay_first_byte":{"type":"integer","format":"int64"}},"type":"object","required":["http","url","delay_last_byte","gzip","length","content_type","date","delay_first_byte"]},"LinksPercentiles":{"properties":{"domain":{"type":"string"},"percentiles":{"type":"array","items":{"$ref":"#/definitions/LinksPercentilesItem"}}},"type":"object","required":["domain","percentiles"]},"ProjectDatasource":{"properties":{"datasource":{"type":"string"},"has_data":{"type":"string","readOnly":true},"last_revision_status":{"type":"string","readOnly":true},"last_revision_details":{"type":"string","readOnly":true},"webflow_url":{"type":"string","readOnly":true},"segments":{"type":"string","readOnly":true}},"type":"object","required":["datasource"]},"QueryRequest":{"properties":{"dimensions":{"type":"array","items":{"type":"string"}},"metrics":{"type":"array","items":{"type":"string"}},"filters":{"type":"object"},"post_filters":{"type":"object"},"sort":{"type":"array","items":{"type":"string"}}},"type":"object","description":"Query Request","required":["dimensions","metrics"]},"SitemapsReportOnly":{"properties":{"out_of_configuration":{"type":"integer","format":"int64"},"in_configuration":{"type":"integer","format":"int64"}},"type":"object"},"KeywordsStatData":{"properties":{"date":{"type":"integer","format":"int64"},"all":{"$ref":"#/definitions/KeywordsStatDetail"},"desktop":{"$ref":"#/definitions/KeywordsStatDetail"},"mobile":{"$ref":"#/definitions/KeywordsStatDetail"},"tablet":{"$ref":"#/definitions/KeywordsStatDetail"}},"type":"object","required":["date","all","desktop","mobile","tablet"]},"MLPipelineActivationPayload":{"properties":{"id":{"type":"integer","format":"int64","readOnly":true},"creation_time":{"type":"string","format":"date-time","description":"The time when the payload is created","readOnly":true},"status":{"type":"string","readOnly":true},"type":{"type":"string","description":"type of activation to perform.\n        UPDATE: update the existing activations. new pipelines will be combined with the existing. in case of conflict, an error will be raised.\n        OVERRIDE: create or override the existing activations\n        "},"details":{"type":"object","description":"payload processing details","readOnly":true},"user":{"type":"string","readOnly":true},"projects":{"type":"array","description":"List of projects to activate ML pipelines","items":{"type":"string"}},"pipelines":{"type":"array","description":"List of ML Pipeline active for all projects","items":{"type":"string"}}},"type":"object","description":"ML Pipeline Batch Activation Payload","required":["type","projects","pipelines"]},"JobResults":{"properties":{"job_id":{"type":"string","readOnly":true},"job_type":{"type":"string"},"job_url":{"type":"string","readOnly":true},"job_status":{"type":"string","readOnly":true},"results":{"type":"string","readOnly":true},"date_created":{"type":"string","format":"date-time","readOnly":true},"payload":{"type":"string","readOnly":true},"user":{"type":"string","readOnly":true},"metadata":{"type":"object"},"crawl_date":{"type":"string","readOnly":true}},"type":"object","description":"Job results","required":["job_type"]},"CustomReportMailingList":{"properties":{"uuid":{"type":"string","readOnly":true},"teams":{"type":"array","items":{"type":"string"}},"users":{"type":"string","readOnly":true}},"type":"object"},"SuggestedUpdatesFeaturesToUpdate":{"properties":{"name":{"type":"string"},"previous_options":{"type":"object"},"new_options":{"type":"object"}},"type":"object","required":["name","previous_options","new_options"]},"AdminBucket":{"properties":{"patterns":{"type":"array","items":{"$ref":"#/definitions/AdminPattern"}},"uuid":{"type":"string","readOnly":true},"name":{"type":"string"},"airlock_directory":{"type":"string"},"airlock_delete":{"type":"boolean","description":"Delete file from airlock after being archived"},"archives_is_airlock_alias":{"type":"boolean","description":"If files are not deleted from airlock, consider archives as airlock bucket"},"visibility":{"type":"integer","format":"int64"},"active":{"type":"boolean"},"order":{"type":"integer","format":"int64","minimum":0,"maximum":2147483647},"block_file_if_found_in_bucket":{"type":"string","description":"Block file import if same location if found on target bucket"}},"type":"object","required":["name","airlock_directory"]},"AnalysisUpdateLaunch":{"properties":{"refresh_features":{"type":"array","items":{"type":"string"}}},"type":"object","description":"Launch Analysis Update","required":["refresh_features"]},"AnalysisCreateAndLaunch":{"properties":{},"type":"object","description":"Create and Launch Analysis"},"ProjectSavedFilter":{"properties":{"name":{"type":"string"},"filters":{"type":"object"},"identifier":{"type":"string","readOnly":true},"description":{"type":"string"},"type":{"type":"string","readOnly":true},"project_name":{"type":"string","readOnly":true},"created_date":{"type":"string","format":"date-time","readOnly":true}},"type":"object","description":"Project's saved UrlFilter","required":["name","filters"]},"URLRewritingRules":{"properties":{"urls":{"type":"array","items":{"type":"string"}},"rules":{"type":"array","items":{"$ref":"#/definitions/RewritingRule"}}},"type":"object","required":["urls","rules"]},"ValuesListCloneResponse":{"properties":{},"type":"object"},"UrlsList":{"properties":{"urls_file":{"type":"string"},"count_valid":{"type":"integer","format":"int64","minimum":0,"maximum":2147483647},"sample_valid":{"type":"object"},"count_invalid":{"type":"integer","format":"int64","minimum":0,"maximum":2147483647},"sample_invalid":{"type":"object"},"domains":{"type":"object"},"status":{"type":"integer","format":"int64"}},"type":"object","required":["urls_file"]},"ProjectCreate":{"properties":{"owner":{"type":"string"},"name":{"type":"string"},"start_url":{"type":"string"},"max_nb_pages":{"type":"integer","format":"int64","minimum":1},"with_scheduling":{"type":"boolean","default":true}},"type":"object","required":["owner","name","start_url","max_nb_pages"]},"AggsQuery":{"properties":{"filters":{"type":"object"},"aggs":{"type":"array","items":{"type":"object"}}},"type":"object","description":"AggsQuery"},"AggsQueries":{"type":"array","items":{"$ref":"#/definitions/AggsQuery"}},"BqlDryRun":{"properties":{"query":{"type":"string"},"error":{"type":"object"}},"type":"object","required":["query"]},"RewritingRule":{"properties":{"regex":{"type":"string"},"replace":{"type":"string"},"ignore_case":{"type":"boolean"}},"type":"object","required":["regex","replace","ignore_case"]},"Datasets":{"properties":{"datasets":{"type":"array","items":{"$ref":"#/definitions/Dataset"}}},"type":"object","required":["datasets"]},"FieldValues":{"properties":{"count":{"type":"integer","format":"int64"},"results":{"type":"array","items":{"$ref":"#/definitions/FieldValuesResult"}}},"type":"object","required":["count","results"]},"QueryResponses":{"properties":{"results":{"type":"array","items":{"type":"string"}}},"type":"object","description":"Query Responses"},"PageRankLost":{"properties":{"non_crawled":{"type":"number","format":"float"},"external":{"type":"number","format":"float"},"robots_txt":{"type":"number","format":"float"}},"type":"object","required":["non_crawled","external","robots_txt"]},"DatamodelField":{"properties":{"multiple":{"type":"boolean"},"name":{"type":"string"},"subtype":{"type":"string"},"group":{"type":"string"},"type":{"type":"string"},"id":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"}},"aliases":{"type":"array","items":{"type":"string"}},"optional":{"type":"boolean"},"suggestion":{"type":"boolean"}},"type":"object","required":["multiple","name","subtype","group","type","id","permissions","optional"]},"AdminProjectQuery":{"properties":{"name":{"type":"string"},"filters":{"type":"object"},"description":{"type":"string"}},"type":"object","required":["name"]},"Analysis":{"properties":{"user":{"$ref":"#/definitions/User"},"owner":{"type":"string","readOnly":true},"slug":{"type":"string","readOnly":true},"name":{"type":"string","readOnly":true},"friendly_name":{"type":"string","readOnly":true},"url":{"type":"string","readOnly":true},"status":{"type":"string","readOnly":true},"computing_revision":{"type":"string","readOnly":true},"features":{"type":"string","readOnly":true},"urls_done":{"type":"string","readOnly":true},"urls_in_queue":{"type":"string","readOnly":true},"config":{"type":"string","readOnly":true},"date_launched":{"type":"string","format":"date-time"},"date_finished":{"type":"string","format":"date-time"},"date_last_modified":{"type":"string","format":"date-time","description":"Date of last modified analysis"},"date_created":{"type":"string","format":"date-time"},"date_crawl_done":{"type":"string","readOnly":true},"failures":{"type":"string","readOnly":true},"red_button_domain":{"type":"string"},"import_keywords_data":{"type":"string","readOnly":true},"import_keywords_data_by_country":{"type":"boolean","default":true},"crawl_launch_type":{"type":"string","readOnly":true},"to_be_deleted_at":{"type":"string","format":"date-time"},"comparable":{"type":"string","readOnly":true},"excluded_from_trends":{"type":"boolean","default":false},"pk":{"type":"string","readOnly":true},"has_raw_pages":{"type":"string","readOnly":true}},"type":"object","required":["user"]},"SuggestedOperations":{"properties":{"name":{"type":"string"},"operation":{"type":"object"},"group":{"type":"string"},"meta":{"type
[...]
